@using HospitalSystem.BLL.ModelVM.Patient
@model ChangePasswordVM
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="card border-success mb-3" style="max-width: 90rem;">
    <div class="card-body">
        <h1>Change Password</h1>
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">
                @TempData["SuccessMessage"]
            </div>
        }

        <form asp-action="ChangePassword" asp-controller="Account" method="post">
            <div class="form-group">
                <label>Email_Address</label>
                <input type="email" class="form-control" asp-for="Email">
                <span asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label>Current Password</label>
                <input type="password" class="form-control" asp-for="OldPassword">
                <span asp-validation-for="OldPassword"></span>
            </div>
            <div class="form-group">
                <label>NewPassword</label>
                <input type="password" class="form-control" asp-for="NewPassword">
                <span asp-validation-for="NewPassword"></span>
            </div>
            <div class="form-group">
                <label>Confirm New Password</label>
                <input type="password" class="form-control" asp-for="ConfirmNewPassword">
                <span asp-validation-for="ConfirmNewPassword"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Change Password" class="btn btn-primary mt-3" />
                <a asp-action="UpdateProfile" asp-controller="Account" class="btn btn-danger mt-3" >Cancel</a>
            </div>
        </form>
    </div>
</div>
    
 

