.container {
    margin-top: 20px;
}

.image-container {
    margin-top: 20px;
}

    .image-container img {
        width: 80%;
        border-radius: 10px;
    }

    .image-container h2 {
        margin-top: 20px;
    }

.form-group {
    margin-bottom: 20px;
}

button {
    width: 100%;
}

hr {
    margin: 20px 0;
}

.register {
    display: flex;
    margin: 20px 0;
    width: 70%;
    justify-content: space-around;
    align-items: center;
}
h6{
    margin-bottom:0;
}